<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LFWifiBridge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8422FF2C1C488D85000B6A31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8422FF451C488D85000B6A31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8422FF501C488D85000B6A31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
